<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1 style="background-color: rgb(192, 183, 201);color: rgb(0, 0, 0);border: 3px;"><marquee behavior="alternate" direction="left" scrollamount="100">{{name}}</marquee></h1>
        <h1 style="background-color: rgb(88, 88, 104);color: rgb(245, 243, 243);border:3px ;"><marquee behavior="alternate" direction="right" scrollamount="500">{{age}}</marquee></h1>
    </center>
</body>
</html>